<h3>{{don_title}}</h3>
{{aptitudeList(dons.general)}}

<h3>Aptitudes de classe</h3>

<h4>{{dons.class.barbare.name}}</h4>
{{aptitudeList(dons.class.barbare.aptitudes)}}

<h4> {{dons.class.rodeur.name}}</h4>
{{aptitudeList(dons.class.rodeur.aptitudes)}}

<h4> {{dons.class.bellimorphe.name}}</h4>
{{aptitudeList(dons.class.bellimorphe.aptitudes)}}

<h4> {{dons.class.rodeur.name}}</h4>
{{aptitudeList(dons.class.rodeur.aptitudes)}}

<h4> {{dons.class.paladin_of_freedom.name}}</h4>
{{aptitudeList(dons.class.paladin_of_freedom.aptitudes)}}

<h4> {{dons.class.guerrier_lupide.name}}</h4>
{{aptitudeList(dons.class.guerrier_lupide.aptitudes)}}
