<head>
  {% macro aptitudeList(items)%}
  <ul>
    {% for item in items%}
    <li>
      <span class="bold-text">{{item.name}} :</span> {{item.description}}
    </li>{% endfor %}
  </ul>
  {% endmacro %}
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<body>
  <div class="">
    <header class="App">
      {% include 'description.html' %}
    </header>
    <main>
      <section>
        <h2>Presentation</h2>

        {% include 'presentation.html' %}
      </section>

      <section>
        <h2>{{artic_wolf.name}}</h2>
        {% include 'artic_wolf.html' %}
      </section>

      <section>
        <h2>{{giant_caydic.name}}</h2>
        {% include 'giant_caydic.html' %}
      </section>


      <section>

        <h2>{{competence_don_title}}</h2>
        {% include 'dons.html' %}

        <h3>{{competence_title}}</h3>
        {% include 'competences.html' %}

      </section>

      <section>

        <h2>{{bag_title}}</h2>
        <h3>Armes</h3>


        {% include 'weapons.html' %}

        <h3>Armure et Bouclier</h3>

        {% include 'armor.html' %}

        <h3>Potions</h3>

        {% include 'potions.html' %}

        <h3>Autres objets</h3>
        {% include 'other_item.html' %}

      </section>

      <section id="mei_section">
        <h2 id="mei_title">{{mei.name}}</h2>
        {% include 'mei.html' %}
      </section>

    </main>
  </div>
</body>

</html>

</html>
