<head>
    {% macro aptitudeList(items)%}
    <ul>
        {% for item in items%}
        <li>
            <span class="bold-text">{{item.name}} :</span> {{item.description}} </li>{% endfor %}
    </ul>
    {% endmacro %} 

    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <body>
        <div class="">
            <header class="App">
                {% include 'description.html' %}
            </header>
            <main>
                <section>
                    <h2>Presentation</h2>
                    <div>
                        <p>
                            <span class="bold-text"> BBA/lutte :</span> ({{pj.bba}}/{{pj.bba-5}}/{{pj.bba-10}})/{{pj.bba+pj.for}}</p>
                        <p>
                            <span class=" text-bold ">Att cac : </span>+ {{(pj.for-10)//2+pj.bba}}</p>
                        <p><span class=" text-bold ">Att dist :</span> + {{(pj.dex-10)//2+pj.bba}}</p>
                        <p> <span class=" text-bold ">PV :</span>{{pj.pv_max}}</p>
                        <p> <span class=" text-bold ">Allonge/Espace occupée :</span>{{pj.allonge}}m/{{pj.espace_occupe}}m </p>
                        <p> <span class=" text-bold ">Vitesse de déplacement:</span>{{pj.vm}} m ({{pj.vm -3}}m avec harnois) </p>
                        <p>Attaques :
                            <ul>
                                {% for weapon in weapons.values() %}
                                <li>
                                    {{weapon.name|e}} (+ {{ (pj.for-10)//2+pj.bba+weapon.bonus}}, {{weapon.degat}}, {{weapon.critique}})
                                </li>
                                {% endfor %}
                            </ul>
                        </p>
                        <p>Attaques à outrance:
                            <ul>
                                {% for weapon in weapons.values() %}
                                <li>
                                    {{weapon.name|e}} (+ {{ (pj.for-10)//2+pj.bba+weapon.bonus}}/ {{ (pj.for-10)//2+pj.bba + weapon.bonus - 5 }} / {{ (pj.for-10)//2+pj.bba + weapon.bonus -10}}, {{weapon.degat}}, {{weapon.critique}})
                                </li>
                                {% endfor %}
                            </ul>
                        </p>
                        <p>
                            CA
                            <ul>
                                <li>{{ armor.harnois.name }}: {{ca.harnois}} (+{{(pj.dex-10)//2}} Dex, +{{armor.harnois["bonus_ca "]}} Harnois, +{{armor.pavois["bonus_ca "]}} Pavois) Dépourvu=CA Contact={{ca.harnois - armor.harnois.bonus_ca}}
                                </li>
                                <li>{{ armor.cuirrasse.name }}: {{ca.cuirrasse}} (+{{(pj.dex-10)//2}} Dex, +{{armor.cuirrasse["bonus_ca "]}} Armure de cuire, +{{armor.pavois["bonus_ca "]}} Pavois) Dépourvu=CA Contact={{ca.cuirrasse - armor.cuirrasse.bonus_ca}}
                                </li>

                            </ul>
                        </p>
                        <p> Force :{{ pj.for }} (+{{ modificateur(pj.for) }}) </p>
                        <p> Dextérité :{{ pj.dex}} (+{{modificateur(pj.dex)}}) </p>
                        <p> Consitution :{{ pj.con}} (+{{modificateur(pj.con)}}) </p>
                        <p> Sagesse :{{ pj.sag}} ({{modificateur(pj.sag)}}) </p>
                        <p> Intelligence :{{ pj.int}} (+{{modificateur(pj.intel)}}) </p>
                        <p> Charisme :{{ pj.cha}} (+{{modificateur(pj.cha)}}) </p>
                        <p>
                            Jet de sauvegardes :
                            <ul>
                                {%for sauvegarde in sauvegardes.values()%}

                                <li>{{sauvegarde.name}} : {{sauvegarde.value + modificateur(pj.cha) +3}}</li>

                                {%endfor %}
                            </ul>
                        </p>
                    </div>

                </section>

                <section>

                    <h2>{{competence_don_title}}</h2>

						<h3>{{don_title}}</h3>
						{{aptitudeList(dons.general)}}

						<h3>Aptitudes de classe</h3>

							<h4>{{dons.class.barbare.name}}</h4>
							{{aptitudeList(dons.class.barbare.aptitudes)}}

							<h4> {{dons.class.rodeur.name}}</h4>
							{{aptitudeList(dons.class.rodeur.aptitudes)}}

							<h4> {{dons.class.bellimorphe.name}}</h4>
							{{aptitudeList(dons.class.bellimorphe.aptitudes)}}

							<h4> {{dons.class.rodeur.name}}</h4>
							{{aptitudeList(dons.class.rodeur.aptitudes)}}

							<h4> {{dons.class.paladin_of_freedom.name}}</h4>
							{{aptitudeList(dons.class.paladin_of_freedom.aptitudes)}}

							<h4> {{dons.class.guerrier_lupide.name}}</h4>
							{{aptitudeList(dons.class.guerrier_lupide.aptitudes)}}

						<h3>{{competence_title}}</h3>
							<ul>

								{% for competence in competences%}

									<li>
										<span class="bold-text">{{competence.name}}</span> : {{competence.maitrise + modificateur(pj[competence.carac])}}
									</li>
								{%endfor%}
							</ul>
                </section>

                <section>

                    <h2>{{bag_title}}</h2>
						<h3>Armes</h3>

							<ul>
								{% for weapon in weapons.values() %}
								<li>
									<span class="bold-text ">{{weapon.name}} : </span> {{weapon.degat}}/ {{weapon.critique}}
								</li>{%endfor%}
							</ul>

                    <h3>Armure et Bouclier</h3>

						<ul>
							{% for item in armor.values() %}
							<li>
								<span class="bold-text">{{item.name}} : </span>  + {{item.bonus_ca}} CA, {{item.type}}
							</li>{%endfor%}
						</ul>

                    <h3>Potions</h3>

						<ul>
							{% for potion in potions.values() %}
							<li>
								<span class="bold-text">{{potion.nombre}} {{potion.name}} :</span> {{potion.description}}
							</li>{%endfor%}
						</ul>

                </section>

            </main>
        </div>
    </body>

    </html>

    </html>
